<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="tivo admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
<meta name="keywords" content="admin template, Tivo admin template, dashboard template, flat admin template, responsive admin template, web app">
<meta name="author" content="pixelstrap">
<link rel="icon" href="../../<%=general.light_image%>" type="image/x-icon">
<link rel="shortcut icon" href="../../<%=general.light_image%>" type="image/x-icon">
<title><%=general.title%></title><link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../css/vendors/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/themify.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/icofont.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/flag-icon.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/feather-icon.css">

<link rel="stylesheet" type="text/css" href="../../css/vendors/scrollbar.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/select2.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/datatables.css">
<!-- <link rel="stylesheet" type="text/css" href="../../css/vendors/timepicker.css"> -->
<link rel="stylesheet" type="text/css" href="../../css/vendors/date-picker.css">
<link rel="stylesheet" type="text/css" href="../../css/vendors/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<link id="color" rel="stylesheet" href="../../css/color-1.css" media="screen">
<link rel="stylesheet" type="text/css" href="../../css/responsive.css">

<link rel="stylesheet" href="../../css/toastr.min.css"/>
<script src="../../js/tostify/jquery-1.9.1.min.js" hidden></script>
<script src="../../js/tostify/js-toastr.js"></script>

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" defer></script>
<script>
    let page_topic = 'admin';

    // appId: "<%=general.one_app_id%>",
    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
            appId: "<%=general.one_app_id%>",
        });
        OneSignal.on('subscriptionChange', function(isSubscribed) {
            if (isSubscribed === true) {
                console.log('The user subscription state is now:', isSubscribed);
                var pathArray = window.location.pathname.split('/');
                OneSignal.sendTags({
                    "subscription_user_Type": page_topic,
                    "Login_ID": '<%= auth.user_id %>',
                }).then(function(tagsSent) {
                    // Callback called when tags have finished sending
                    console.log("tagsSent", tagsSent);
                });
            }
        });
    });




</script>



<!-- https://shiftr.kmsteams.com -->
<!-- https://pethomes.cscodetech.cloud -->

<!-- https://goride.siswebapp.com/ -->
<!-- Admin Credentials: admin@goride.com / 12345678 -->


<!-- https://www.figma.com/design/M2J3TYJdpk1PUq0FuEhuLb/Untitled?node-id=0-1&t=nd3ApZ8KwuGBHZMN-1 -->


<!-- Local URL -->
<!-- https://clamoribus.serveo.net -->


<!-- Live URL -->
<!-- http://206.1.35.43:5000/ -->


<!-- Database -->
<!-- http://206.1.35.43/phpmyadmin/index.php?route=/sql&server=1&db=Zippygo&table=tbl_driver_cart&pos=0 -->
<!-- cscodetech -->
<!-- cscode@143 -->


<!-- https://developers.google.com/maps/documentation/javascript/examples/map-id-style -->
<!-- https://developers.google.com/maps/documentation/javascript/examples/advanced-markers-graphics -->


<!-- ubuntu
pm2 stop appconfig

cd /var/www/html
nodemon index.js -->
<!-- pm2 start appconfig -->